In [2]:
import numpy as np
import pandas as pd

In [4]:
data = {
    'category':['A','B','A','B','A','B','A','B'],
    'stores':['s1','s2','s1','s2','s1','s2','s1','s2'],
    'sales':[100,200,150,250,120,100,200,300],
    'quantity':[10,15,12,18,8,20,15,25],
    'date':pd.date_range('2023-01-01',periods=8)
    
}
df = pd.DataFrame(data)

In [5]:
df

  category stores  sales  quantity       date
0        A     s1    100        10 2023-01-01
1        B     s2    200        15 2023-01-02
2        A     s1    150        12 2023-01-03
3        B     s2    250        18 2023-01-04
4        A     s1    120         8 2023-01-05
5        B     s2    100        20 2023-01-06
6        A     s1    200        15 2023-01-07
7        B     s2    300        25 2023-01-08

In [7]:
cat =df.groupby('category')

for i,v in cat:
    print(i)
    print(v)

A
  category stores  sales  quantity       date
0        A     s1    100        10 2023-01-01
2        A     s1    150        12 2023-01-03
4        A     s1    120         8 2023-01-05
6        A     s1    200        15 2023-01-07
B
  category stores  sales  quantity       date
1        B     s2    200        15 2023-01-02
3        B     s2    250        18 2023-01-04
5        B     s2    100        20 2023-01-06
7        B     s2    300        25 2023-01-08

In [9]:
cat = df.groupby('category')['sales'].sum()
cat

category
A    570
B    850
Name: sales, dtype: int64

In [11]:
cat = df.groupby('stores')['sales'].sum()
cat

stores
s1    570
s2    850
Name: sales, dtype: int64

In [13]:
cat = df.groupby(['stores','category'])['sales'].sum()
cat

stores  category
s1      A           570
s2      B           850
Name: sales, dtype: int64

In [14]:
# aggregate
df['sales'].mean()

np.float64(177.5)

In [15]:
df['sales'].mode()

0    100
1    200
Name: sales, dtype: int64

In [17]:
df['sales'].agg(['mean','max'])

mean    177.5
max     300.0
Name: sales, dtype: float64