In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({
    'a':[1,2,3,4,5],
    'b':[10,20,30,40,50],
    'c':[100,200,300,400,500]
})

In [4]:
df

   a   b    c
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

In [5]:
# shape operation
df.shape

(5, 3)

In [6]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [7]:
def square(x):
    return x**2

In [8]:
df['b'].apply(square)

0     100
1     400
2     900
3    1600
4    2500
Name: b, dtype: int64